
.Header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
}
.Header-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.Header-header {
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}
